<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c8920690-2d98-48d6-8a14-1ed7f8c90030" Alias="Footer Blocks - Nested Content" Level="1">
  <Info>
    <Name>Footer Blocks - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "contactBlock",
      "ncTabAlias": "Content",
      "nameTemplate": "{{title}}"
    },
    {
      "ncAlias": "linksBlock",
      "ncTabAlias": "Content",
      "nameTemplate": "{{title}}"
    },
    {
      "ncAlias": "subscribeBlock",
      "ncTabAlias": "Content",
      "nameTemplate": "{{title}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>