<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fe73141e-13d7-4930-a14c-7dcf06e32f92" Alias="Simple RTE" Level="1">
  <Info>
    <Name>Simple RTE</Name>
    <EditorAlias>Umbraco.TinyMCE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Editor": {
    "toolbar": [
      "bold",
      "italic",
      "underline",
      "strikethrough",
      "bullist",
      "link"
    ],
    "stylesheets": [],
    "maxImageSize": 500,
    "mode": "classic"
  },
  "HideLabel": false,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null
}]]></Config>
</DataType>