<?xml version="1.0" encoding="utf-8"?>
<DataType Key="acb5e9b1-222a-4bfd-910e-adf5832d0878" Alias="Single URL Picker" Level="1">
  <Info>
    <Name>Single URL Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MinNumber": 0,
  "MaxNumber": 1,
  "IgnoreUserStartNodes": false,
  "HideAnchor": false
}]]></Config>
</DataType>