<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a26c9569-811c-4ce6-a78a-b9ac2de7e819" Alias="Site settings - Navigation - Multinode Treepicker" Level="1">
  <Info>
    <Name>Site settings - Navigation - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": null
  },
  "Filter": null,
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>