<?xml version="1.0" encoding="utf-8"?>
<DataType Key="438a0615-9acb-48d9-b58c-1a0217d15bd9" Alias="Social links - Nested Content" Level="1">
  <Info>
    <Name>Social links - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "socialLink",
      "ncTabAlias": "Content",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>