<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="efc4aa21-f802-4997-bd27-9a9058348745" Alias="siteSettings" Level="2">
  <Info>
    <Name>Site settings</Name>
    <Icon>icon-settings color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Folder>Settings</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>412a15eb-8aaa-4e39-b89a-de545a794d03</Key>
      <Name>Site name</Name>
      <Alias>siteName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Basic</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage />
      <ValidationRegExpMessage />
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Basic</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>