<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="efc4aa21-f802-4997-bd27-9a9058348745" Alias="siteSettings" Level="2">
  <Info>
    <Name>Site settings</Name>
    <Icon>icon-settings color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Folder>Settings</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>a6247a65-2285-4c13-9d02-c38ab21c0f3c</Key>
      <Name>Blocks</Name>
      <Alias>blocks</Alias>
      <Definition>c8920690-2d98-48d6-8a14-1ed7f8c90030</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Footer</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage />
      <ValidationRegExpMessage />
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b015e830-ad4a-413d-9ca6-fd7bf356fd56</Key>
      <Name>Copyright text</Name>
      <Alias>copyrightText</Alias>
      <Definition>fe73141e-13d7-4930-a14c-7dcf06e32f92</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Footer</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage />
      <ValidationRegExpMessage />
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7fb374b6-33ac-4e4d-8df9-970b8b1622dd</Key>
      <Name>Logo title</Name>
      <Alias>logoTitle</Alias>
      <Definition>ee84cff4-181a-49fd-8ffc-ba5845825012</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Header</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage />
      <ValidationRegExpMessage />
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>67f19208-d26b-4d5f-a01a-314bbf31b1e2</Key>
      <Name>Navigation</Name>
      <Alias>navigation</Alias>
      <Definition>a26c9569-811c-4ce6-a78a-b9ac2de7e819</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Header</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage />
      <ValidationRegExpMessage />
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>412a15eb-8aaa-4e39-b89a-de545a794d03</Key>
      <Name>Site name</Name>
      <Alias>siteName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Basic</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage />
      <ValidationRegExpMessage />
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Basic</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Header</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Caption>Footer</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>