<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="725b0621-df6d-4e71-a217-a672344c5a9c" Alias="startPage" Level="2">
  <Info>
    <Name>Start page</Name>
    <Icon>icon-home color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="76d1516c-23db-48a3-bd1d-7641bda27622">seo</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="efc4aa21-f802-4997-bd27-9a9058348745" SortOrder="0">siteSettings</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>cd2f8928-d963-4e0c-960c-93117d4ba7df</Key>
      <Name>Heading</Name>
      <Alias>heading</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage />
      <ValidationRegExpMessage />
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>